<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }

        body {
            background-color:
                white;
        }

        .slider {
            width: 100%;
            height: 500px;
            overflow: hidden;
            margin-bottom: 1px;
        }

        figure {
            position: relative;
            left: 0;
            width: 400%;
            animation: 10s slide infinite;
        }

        .slide {
            position: relative;
            width: 25%;
            float: left;
        }

        .slide img {
            width: 700px;
            height: 400px;
        }

        @keyframes slide {
            0% {
                left: 0;
            }

            10% {
                left: 0;
            }

            20% {
                left: -100%;
            }

            30% {
                left:
                    -100%;
            }

            40% {
                left: -200%;
            }

            50% {
                left: -200%;
            }

            55% {
                left: -300%;
            }

            65% {
                left: -300%;
            }

            66% {
                left: -200%;
            }

            74% {
                left: -200%;
            }

            78% {
                left: -100%;
            }

            85% {
                left: -100%;
            }

            90% {
                left: 0;
            }

            100% {
                left: 0;
            }
        }

        h1 {
            text-align:
                center;
        }

        .btn {
            padding: 15px 40px;
            border: none;
            outline: none;
            color:
                #fff;
            cursor: pointer;
            position: relative;
            z-index: 0;
            border-radius:
                12px;
            margin: 30px;
            margin-top: 1px;
            width: 200px;
            height: 60px;
        }

        .btn::after {
            content: "";
            z-index: -1;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #333;
            left: 0;
            top: 0;
            border-radius:
                10px;
        }

        .btn::before {
            content: "";
            background: linear-gradient(45deg,
                    #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #ff00c8, #ff0000);
            position: absolute;
            top: -2px;
            left: -2px;
            background-size: 600%;
            z-index:
                -1;
            width: calc(100% + 4px);
            height: calc(100% + 4px);
            filter: blur(8px);
            /*animation*/
            animation: glowing 20s linear infinite;
            transition:
                opaciy.3s ease-in-out;
            border-radius: 10px;
            opacity: 1;
            
        }

        @keyframes glowing {
            0% {
                background-position: 0 0;
            }

            50% {
                background-position: 400% 0;
            }

            100% {
                background-position: 0 0;
            }
        }

        .btn:hover::before {
            opacity: 1;
        }

        .btn:active:after {
            background: transparent;
        }

        .btn:active {
            color: #000;
            font-weight: bold;
        }
    </style>
</head>

<body>

    <h1>HOSTEL BOOKING</h1>
    <div class="slider">
        <figure>
            <div class="slide">
                <center><img src="../public/images/kit4.jpeg" alt="" /></center>
            </div>

            <div class="slide">
                <center>
                    <img src="https://images.shiksha.com/mediadata/images/1520482850php2dBgQW.jpeg" alt="" />
                </center>
            </div>
            <div class="slide">
                <center><img src="https://www.eduska.com/assets/user_photo/0d5439ccfa833884fb94e3d213bdc723.jpg" alt="" /></center>
            </div>
            <div class="slide">
                <center><img src="https://kpriet.ac.in/asset/frontend/images/facilities/room.jpg" alt="" /></center>
            </div>

        </figure>
    </div>
    <center><a href="register1"><button class="btn">BOOK NOW</button></a></center>

</body>

</html>