<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <style>
        h2{
            color: blue;
            text-align: center;
        }
        .log{
            width: 400px;
            height: 300px;
            border: 1px solid gray;
            font-family: sans-serif;
            border-radius: 10px;
            display: inline-block;
            margin: 80%;
            margin-left: 500px;
            margin-top: 200px;
            text-align: center;
            box-shadow: 10px 10px 10px lightblue;
            }
            .col{
                background-color: blue;
                height: 40px;
                width: 60px;
                border-radius: 10px;
            }
            a:hover{
                font-size: 15px;
                text-decoration: none;
            }
    </style>
    
    <title>Document</title>
</head>
<body>
    <div class="log">
    <form action="/login" method="post">
    <h2>Log In</h2>
    <br action="/login" method="post">
    <input type="text" name="name" placeholder="Name"></br></br>
        <input type="password" name="password" placeholder="password"></br></br></br>
    <input type="submit" class="col"></br></br>
    </form>

    <a href="signup">Make a new account</a>
    </div>
    
</body>
</html>