<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>YOU HAVE SUCCESSFULLY BOOKED!!!</h1></center>
    <center><img src="https://img.freepik.com/free-vector/green-double-circle-check-mark_78370-1749.jpg" alt=""></center>
</body>
</html>